body, html {
    height: 100%;
    margin: 0;
}

.bg {
    /* The image used */
    background-image: url("https://github.com/ItsNebula/Portfolio/blob/master/wybiCJM.png?raw=true");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #9567E2;
}
li {
    display: inline;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #996be5;
}

h1 {
    border-style: solid;
    border-width: 5px;
    border-color: #9567E2;
}
p {
  font-family: " Times New Roman", serif;
  font-size: 24px;
  color: #9567E2;  
}
